:root {
	--white: #fff;
	--black: #1e1e1e;

	--primary-purple-1: #5f5bee;
	--primary-purple-5: #9492f4;

	--white-1: #fafafa;

	--grey-2: #eff0f2;
	--grey-7: #90979d;
	--grey-10: #3a3c3f;
	--grey-11: #232426;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: auto;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: var(--white);
}

img {
	max-width: 100%;
	height: auto;
	/* margin-left: -35px; */ /* removed this */
}

.blue-text {
	color: var(--primary-purple-1);
}

/* custom scrollbar */
*::-webkit-scrollbar {
	width: 10px;
	background-color: var(--white-1);
}

*::-webkit-scrollbar-thumb {
	border-radius: 50px;
	border: 2px solid var(--white-1);
	background-color: var(--primary-purple-1);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-purple-5);
}

*::-webkit-scrollbar-thumb:active {
	background-color: var(--grey-10);
}

/* ----- Hero Section ----- */
.hero__container,
.about-us__container,
.vision-mission__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;

	max-width: 1440px;
	margin: 0 auto;
}

.hero__container,
.vision-mission__container {
	padding: 5rem 2.5rem;
	overflow: hidden;
}

.flex-1 {
	flex: 1;
	width: 100%;
}

.hero__decoration {
	font-weight: 600;
	font-size: clamp(0.75rem, 2vw, 0.875rem);
	padding: 0.5rem 2rem;
	margin-bottom: 1rem;

	border-radius: 100px;
	background-color: var(--white-1);
	width: -moz-fit-content;
	width: fit-content;
}

.hero__decoration img {
	vertical-align: middle;
	margin-right: 1rem;
}

.hero__title {
	font-size: clamp(2rem, 3vw, 3rem);
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 2rem;
	max-width: 540px;
	text-shadow: 0 0 1px rgba(255, 255, 255, 01);
}

.hero__description,
.about-us__description {
	font-size: 1rem;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 3rem;
	max-width: 640px;
}

.hero__cta,
.about-us__cta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}

.hero__cta .join-today,
.hero__cta .learn-more,
.about-us__cta .start-today,
.about-us__cta .learn-more,
.vision-mission__cta .contact-us {
	font-weight: 600;
	font-size: clamp(0.875rem, 2vw, 1rem);
	border-radius: 100px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.hero__cta .join-today,
.about-us__cta .learn-more,
.vision-mission__cta .contact-us {
	padding: 1rem 5rem;
}

.hero__cta .learn-more,
.about-us__cta .start-today {
	padding: 1rem 2rem;
}

.hero__cta .join-today,
.vision-mission__cta .contact-us {
	color: var(--white);
	background-color: var(--primary-purple-1);
}

.hero__cta .learn-more {
	background-color: var(--white-1);
}

.about-us__cta .learn-more {
	background-color: var(--white);
}

.about-us__cta .start-today {
	color: var(--white);
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 1px var(--white);
}

.hero__cta .join-today:hover {
	background-color: var(--primary-blue-5);
}

.hero__cta .learn-more:hover {
	color: var(--white);
	background-color: var(--primary-blue-1);
}

.about-us__cta .learn-more:hover {
	color: var(--white);
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 1px var(--white);
}

.about-us__cta .start-today:hover {
	color: var(--primary-blue-1);
	background-color: var(--white);
}

.hero__cta .learn-more:hover img,
.about-us__cta .learn-more:hover img {
	filter: invert(1);
}

.hero__cta .learn-more,
.about-us__cta .learn-more {
	display: flex;
	align-items: flex-end;
	gap: 0.75rem;
}

.hero__ellipse {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: min(100%, 525px);
}

@media screen and (width <= 1200px) {
	.hero__container,
	.vision-mission__container {
		flex-direction: column;
		gap: 2rem;
		padding-inline: 1.5rem;
	}

	.hero__container {
		text-align: center;
		justify-content: center;
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		place-items: center;
	}

	.hero__cta {
		justify-content: center;
	}

	.hero__title .blue-text {
		color: var(--black);
		line-height: 1.4;
	}
}

@media screen and (width <= 640px) {
	.hero__container {
		padding-inline: 1rem;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
}

/* Register Section */
.register__section {
	background: var(--grey-11);
	position: relative;
	width: 100%;
	padding-bottom: 2px;
	height: auto;
}
.register__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	/* margin-top: 85px; */
	padding: 0 128px;
	margin: 85px auto;
}

.register__title {
	text-align: center;
	color: var(--white);
	display: flex;
	flex-direction: column;
	padding-top: 90px;
}

.register__title p {
	font-size: 20px;
	/* line-height: 24px; */
}

.register__title h1 {
	font-size: 36px;
	line-height: 3.5rem;
	font-weight: 700;
}

.register-image {
	width: 100%;
}

.register__form {
	display: flex;
	flex-direction: column;
	margin-top: -20px;
	align-items: flex-start;
	/* padding: 0px; */
	row-gap: -28px;
	width: 550px;
	/* height: 616px; */
	padding-left: 25px;
}

.register__form input,
select {
	width: 550px;
	height: 64px;
	padding-left: 24px;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid var(--grey-9);
	margin-bottom: 20px;
}

option {
	font-size: 20px;
	color: white;
	background-color: var(--grey-11);
}

.register__form__input label {
	color: #eff0f2;
	line-height: 45px;
	font-size: 20px;
}

.register__button {
	width: 100%;
	height: 56px;
	border-radius: 100px;
	border: none;
	background: var(--primary-purple-1);
	color: var(--white);
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	line-height: 19px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register__button:hover {
	background: var(--primary-purple-5);
}

img#icon1 {
	position: absolute;
	right: 18rem;
	top: 5rem;
}
img#icon2 {
	position: absolute;
	left: 15rem;
	bottom: 2rem;
	transform: rotate(166deg);
}

/* ----- About Us Section ----- */
.about-us {
	width: 100%;
	overflow: hidden;
	color: var(--white);
	background-color: var(--grey-11);
	margin-bottom: 2rem;
}

.about-us__container {
	padding: 5rem 0 0 2.5rem;
}

.about-us__image {
	transform: translate(10%, 13%);
}

.about-us__title,
.vision-mission__title {
	position: relative;
	font-weight: 700;

	padding-left: 1.5rem;
	margin-bottom: 2rem;
}

.about-us__title {
	font-size: clamp(1.875rem, 3vw, 2.25rem);
}

.about-us__title::before,
.vision-mission__title::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	border-radius: 100px;
}

.about-us__title::before {
	background-color: var(--white);
}

.about-us__cta .learn-more {
	background-color: var(--white);
}

.about-us__cta .learn-more:hover {
	color: var(--white);
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 1px var(--white);
}

.about-us__cta .start-today {
	color: var(--white);
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 1px var(--white);
}

.about-us__cta .start-today:hover {
	color: var(--primary-purple-1);
	background-color: var(--white);
}

@media screen and (width <= 1200px) {
	.register__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		/* text-align: center; */
	}
	.register__button {
		max-width: 626px;
		width: auto;
		margin-top: 2rem;
		height: 56px;
	}
	.register__form input,
	select {
		/* max-width:100%; */
		width: 626px;
		height: 64px;
	}
	.register__form {
		width: 700px;
		margin-left: 1.5rem;
	}
	.register-image {
		text-align: center;
	}
	img#reg__img {
		width: 700px;
		height: auto;
		margin-right: -2rem;
		text-align: center;
	}
	.iti {
		display: block;
	}

	img#icon2 {
		position: absolute;
		left: 3rem;
		bottom: 5rem;
		transform: rotate(166deg);
	}
}

@media screen and (width <= 640px) {
	.register__form {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		width: 350px;
		padding: 0px;
		margin-left: 0;
	}
	.register-image {
		width: 350px;
		text-align: center;
	}

	.register__form input,
	select {
		width: 350px;
		height: 64px;
	}

	img#reg__img {
		max-width: 100%;
		height: auto;
		margin: 0;
	}

	img.wavy-icon {
		bottom: 2.6999999999999993rem;
		position: absolute;
		left: 1rem;
		transform: rotate(165deg);
	}
	img#icon1 {
		position: absolute;
		right: 2rem;
		top: 9rem;
	}
	.iti {
		display: block;
	}
}

/* About Us Section */

.about-us {
	width: 100%;
	overflow: hidden;
	color: var(--white);
	background-color: var(--grey-11);
	margin-bottom: 2rem;
}

.about-us__image {
	transform: translate(10%, 13%);
}

.about-us__title {
	position: relative;
	font-size: clamp(1.875rem, 3vw, 2.25rem);
	font-weight: 700;

	padding-left: 1.5rem;
	margin-bottom: 2rem;
}

.about-us__title::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	background-color: var(--white);
	border-radius: 100px;
}

@media screen and (width <= 1200px) {
	.about-us__container {
		flex-direction: column;
		gap: 2rem;
		padding: 5rem 1.5rem 0 1.5rem;
	}

	.about-us__image {
		margin-top: 3rem;
		transform: translate(0, 0);
		width: 100%;
		height: auto;
	}

	.about-us__image img {
		width: min(100%, 500px);
	}
}

/* ----- Vision and Mission Section ----- */
.vision-mission__image {
	text-align: center;
}

.vision-mission__title {
	padding-block: 0.5rem;
}

.vision-mission__title h2 {
	font-size: clamp(1.875rem, 3vw, 2.25rem);
}

.vision-mission__title h4 {
	font-size: clamp(0.875rem, 3vw, 1rem);
	font-weight: 500;
}

.vision-mission__title::before {
	background-color: var(--primary-purple-1);
}

.vision-mission__socials {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.vision-mission__socials a {
	width: 20px;
	height: 20px;
	transition: all 0.2s ease-in-out;
}

.vision-mission__socials a:hover {
	transform: scale(1.05);
}

.vision-mission__socials img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.vision-mission__cta {
	gap: 5rem;
	align-items: center;
}

.features__section {
	margin-top: 8rem;
	padding: 0 115px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.features__title {
	width: 527px;
}
.features__header {
	position: relative;
}
.feature__header::before {
	content: "";
	width: 9px;
	position: absolute;
	height: 126px;
	background-color: var(--primary-purple-1);
	left: 85px;
	border-radius: 50px;
	line-height: 64px;
}
.feature__header h1 {
	font-size: clamp(1.875rem, 3vw, 2.25rem);
	font-weight: 700;
	color: var(--primary-purple-1);
}

.feature__header p {
	font-weight: 500;
	color: var(--primary-purple-1);
}
.feature__info p {
	width: 500px;
	padding-top: 2rem;
	margin-left: -2rem;
}

.features__container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
}

.features__card {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
	margin-left: -2rem;
}
.card {
	margin-top: 2.5rem;
	margin-left: -0.7rem;
}
.card1 p {
	width: 300px;
}
.card2 p {
	width: 400px;
}

.feature__img__deep {
	position: relative;
}

img#feature__img1 {
	top: -2rem;
	position: relative;
}

#feature__img2 {
	position: absolute;
	left: -10rem;
	bottom: -3.5rem;
}

@media screen and (width <= 1200px) {
	.features__section {
		display: flex;
		flex-direction: column;
		padding: 0 1.5rem;
		font-size: 120%;
		margin-top: 4rem;
	}
	.feature__img {
		margin-top: 9rem;
		/* margin-left: 4rem; */
	}

	.features__title {
		position: relative;
	}

	.feature__header::before {
		position: absolute;
		left: -30px;
	}

	.register__section {
	}
}

@media screen and (width <= 640px) {
	.features__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 4rem;
	}
	.feature__img {
		margin-top: 9rem;
	}
	.features__section {
		width: 350px;
	}
	.features__container {
		width: 320px;
	}

	.feature__header::before {
		position: absolute;
		left: -30px;
	}
	.feature__info p {
		width: 350px;
	}
	.feature__header {
		width: 350px;
	}
	.features__title {
		margin-left: 20rem;
		width: 320px;
	}
	.features__card {
		margin-left: 18rem;
		width: 320px;
	}
	.card1 p {
		width: 300px;
	}
	.card2 p {
		width: 300px;
	}
	.wew {
		margin-left: -17rem;
		/* width: 320px; */
		overflow-x: hidden;
	}
	img#feature__img1 {
		top: -2rem;
		position: relative;
		left: 1rem;
	}
	#feature__img2 {
		position: absolute;
		left: -1rem;
		width: 80%;
		bottom: -8.5rem;
	}
}

@media screen and (width >= 400px) and (width <= 640px) {
	.wew {
		margin-left: -14rem;
		/* width: 320px; */
		overflow-x: hidden;
	}
	img#feature__img1 {
		top: -2rem;
		position: relative;
		left: 3rem;
	}
}
